**/Debug
**/Release
**/Testing
**/RunTime
**/.vs
**/*.dll
**/*.lib
**/*.bco
**/.bco
**/bco
**/*.rsp
**/*.rc
**/*.smod
**/*.res
**/*.ilk
**/*.bat
**/*.bin
**/*.so
**/*.pyd
**/*.class
**/*.user
**/*.mod
**/*.obj
**/*.pbd
**/*.pdb
**/*.pdb
**/*.htm
**/*.u2d
**/*.exe
**/*__genmod.f90
**/*.manifest
**/*.exp
**/*.txt
